/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.textField {
	-fx-background-color: grey;
	-fx-font-family: "Helvetica Neue UltraLight";
}

.button {
	-fx-background-radius: 0;
	-fx-background-color:  #E0E0E0;
	-fx-font-family: "Helvetica Neue Light";
	-fx-font-size: 21px;
}

.button:pressed {
	-fx-background-color: #B2B2B2;
}

.operators {
	-fx-background-color: #FE9340;
	-fx-text-fill: #ffffff;
}

.operators:pressed {
	-fx-background-color: darkorange;
}

.topOperators {
	-fx-background-color: #D6D6D6;
}